<h1>Memo Stick Stick Stick</h1>

<% @ideas.in_groups_of(2) do |group| %>   <!--每三個一組-->
  <div class="row">
    <% group.compact.each do |idea| %>
      <div class="col-md-6">
        <%= image_tag idea.picture_url, class: 'img-circle', :width => '80%' if idea.picture.present?%>  <!--圖-->
        <h4><%= link_to idea.name, idea %></h4> <!--名字-->
        <%= idea.description %> <!--描述-->
        <%= link_to 'Edit', edit_idea_path(idea) %>
        <%= link_to 'Destroy', idea, method: :delete, data: { confirm: 'Are you sure?' } %>
       </div>
    <% end %>
  </div>
<% end %>

