<p id="notice"><%= notice %></p>

<div class="row">
  <div class="span9">
    <%= image_tag(@idea.picture_url, :width => "30%") if @idea.picture.present? %>
  </div>

  <div class="span3">
    <p><b>名字: </b><%= @idea.name %></p>
    <p><b>描述: </b><%= @idea.description %></p>
    <p>
      <%= link_to '編輯', edit_idea_path(@idea) %> |
      <%= link_to '刪除', @idea, confirm: 'Are you sure?', method: :delete %> |
      <%= link_to '返回', ideas_path %>
    </p>
  </div>
</div>


<h3>回應</h3>
<% @idea.comments.each do |comment| %>
  <div>
    <strong><%= comment.user_name %></strong>
    <br />
    <p><%= comment.body %></p>
  </div>
<% end %>
<%= render 'comments/form' %>


